.title{
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    background-color: lightcoral;
    width: 100vw;
    font-weight: bold;
}

.latexCodeArea{
    background-color: lightgray;
    width: 30vw;
    height: 80vh;
}

.latexPreviewAera{
    background-color: lightblue;
    width: 30vw;
    height: 80vh;
}

.latexAera{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70vw;
    background-color: antiquewhite;
    margin-left: 15vw;
}

.latexCodeAeraContent{
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    font-size: 1em;
}