body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    font-family: sans-serif;
}

.title {
    text-align: center;
    font-size: 1.8em;
    background-color: lightcoral;
    width: 100%;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
}

.latexAera {
    display: flex;
    flex-direction: row;
<<<<<<< Updated upstream
    width: 90vw;
    height: calc(100vh - 70px);
    margin-left: 10vw;
    background-color: antiquewhite;
    margin-top: 10px;
=======
    width: 80vw;
    height: calc(100vh - 60px);
    margin-left: 22.5vw;
    background-color: antiquewhite;
    margin-top: 65px;
>>>>>>> Stashed changes
}

.latexCodeArea {
    position: relative;
    background-color: lightgray;
    width: 50%;
    height: 100%;
}

.latexPreviewAera {
    background-color: lightgray;
    width: 50%;
    height: 100%;
    border-left: 2px solid #ccc;
}

.compileButton {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.compileButton:hover {
    background-color: #218838;
}

.compileButton:disabled {
    background-color: #6c757d;
}