.HomePage{
    width: 100vw;
    height: 100vh;
    background-color: red;
}

.authLink{
    background-color: blue;
}

.editorLink{
    background-color: green;
}

.linkButtons{
    display: flex;
    flex-direction: row;
    width: 20vw;
    background-color: yellow;
    justify-content: space-between;
    margin-top: 5vh;
    margin-left: 40vw;
}

.linkButton{
    width: 7.5vw;
    text-align: center;
    color: white;
}

.logo{
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}